/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppy-shower";
  src: url(Fonts/Poppy\ Shower.ttf);
}

@font-face {
  font-family: "silenter";
  src: url(Fonts/Silenter.ttf);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(+300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header - Mone de Jager and F-J Mentz */

.heading-Lovers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  padding-bottom: 2%;
}

#container1 {
  display: flex;
  justify-content: center;
}

#heading-column1 {
  text-align: right;
  font-size: 50px;
  opacity: 0;
  animation: slideInLeft 1s ease-in forwards;
  font-family: "poppy-shower";
  font-weight: lighter;
}

#heading-column2 {
  text-align: left;
  font-size: 50px;
  opacity: 0;
  animation: slideInRight 1s ease-in forwards;
  font-family: "poppy-shower";
  font-weight: lighter;
}

.heading-surname {
  font-size: 50px;
}

#and-sign {
  font-size: 70px;
  color: darkgoldenrod;
  text-align: center;
  font-family: "poppy-shower";
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Menu */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2-dimmer {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

/* Navbar visibility while scrolling */
.nav-bar {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  transition-duration: 0.5s;
}

.nav-bar.visible {
  top: 0;
}

.menu-grid {
  display: flex;
  justify-content: center;
  gap: 70px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style-type: none;
  padding-bottom: 2%;
  z-index: 10;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  color: darkgoldenrod;
  padding-left: 10px;
  padding-right: 10px;
}

/* Hover animation */
.menu-grid :hover {
  background-color: darkgoldenrod;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid darkgoldenrod;
  border-radius: 10px;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Welcome */

#background-color {
  background-color: rgb(255, 253, 248);
  /* background-image: url(Pictures/gold\ texture.jpg); */
  color: goldenrod;
}

#welcome-section {
  background-image: url(../Pictures/srhbzhzdhxfh.jpg);
  background-size: cover;
  height: 700px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg-title {
  display: flex;
  flex-direction: column;
}

.reg-titlep {
  align-self: center;
  font-size: 40px;
  font-weight: lighter;
}

.second-heading-MentzToBe {
  font-size: 20px;
}

.reg-buttonb {
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  position: relative;
  background: transparent;
  color: goldenrod;
  text-transform: uppercase;
  border: 3px solid goldenrod;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 2%;  
}

#reg-buttona{
  text-decoration: none; 
  color: goldenrod; 
}

#reg-buttona :hover{
 color: black; 
}

.reg-buttonb:hover {
  color: black;
}

.spanbutton {
  transition: all 0.7s;
  z-index: -1;
}

.reg-buttonb .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: goldenrod;
}

.reg-buttonb:hover .first {
  top: 0;
  right: 0;
}

.reg-buttonb .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  width: 25%;
  height: 100%;
  background: goldenrod;
}

.reg-locationp {
  color: white;
  /* font-family: 'Great Vibes', cursive; */
  font-size: 20px;
}

.reg-items-container {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Countdown */

#countdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: silenter;
  gap: 150px;
}

#countdown-container {
  height: 180px;
  background-color: rgb(99, 72, 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-columns {
  font-size: 20px;
  color: white;
  background-color: rgb(126, 92, 8);
  height: 130px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  padding-top: 25px;
  box-shadow: 0px 10px 10px black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Join-us Slogan */

#sheSaidYes-Container {
  display: flex;
  justify-content: center;
}

#sheSaidYes-slogan {
  background-color: rgb(99, 72, 6);
  text-align: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1075px;
}

#sheSaidYes {
  color: white;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#dateOfAnswer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  font-weight: lighter;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Our story */

#our-story-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#our-story-heading {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

#our-story-section {
  width: 500px;
  margin: 2%;
}

#story-picture {
  width: 500px;
  margin: 2%;
}

#our-story-paragraph {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Information */
.information {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.information-text1 {
  font-size: 30px;
  font-family: silenter;
  font-weight: bolder;
  /* color: darkgoldenrod; */
}

.information-text2 {
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-weight: bolder;
}

.bank-details {
  text-align: left;
  margin-bottom: 10%;
  font-weight: bolder;
}

.guesthouses {
  text-align: left;
}

.link-highlight {
  color: darkgoldenrod;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* Gallery */

.gallery-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-heading {
  text-align: center;
  font-family: sans-serif;
  margin-top: 5%;
  width: 1075px;
  background-color: rgb(99, 72, 6);
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-heading-text {
  color: white;
  font-size: 45px;
  font-weight: lighter;
}

#gallery-heading-paragraph {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 1%;
}

.med-img {
  width: 100%;
}

.gallery-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-background-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-size: cover;
  width: 1075px;
}

.med-col1 {
  display: grid;
  grid-template-rows: repeat(2 min-content);
}

.med-col2 {
  display: grid;
  grid-template-rows: repeat(3 min-content);
}

.med-col3 {
  display: grid;
  grid-template-rows: repeat(2 min-content);
}

.med-col4 {
  display: grid;
  grid-template-rows: repeat(3 min-content);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* RSVP */

.rsvp-main-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.rsvp-secondary-container {
  display: flex;
  justify-content: center;
  width: 1075px;
  margin: 2%;
}

.rsvp-couple-image {
  width: 500px;
  margin: 2%;
}

.rsvp-background-image {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.qr-code-image {
  width: 200px;
}

.qr-code-message {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: darkgoldenrod;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
